<section class="gradient-custom">
  <div class="container py-3 h-100">
    <app-search-bar [title]="'Acceder a l historique'"></app-search-bar>
    <div class="row mx-6 my-3">
      <div class="col">
        <div class="card">
          <div class="table-responsive-lg mb-0">
            <table
              class="table align-middle mb-0 table-hover table-bordered"
              style="background-color: aliceblue"
            >
              <thead class="bg-light">
                <tr>
                  <th>#</th>
                  <th>Salle</th>
                  <th>Email</th>
                  <th>Date début</th>
                  <th>Date fin</th>
                  <th>Durée</th>
                  <th>Payé</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="ms-3">
                        <p class="fw-bold mb-1">Salle 2</p>
                        <p class="text-muted mb-0">Departement : IT</p>
                      </div>
                    </div>
                  </td>

                  <td>Jlidi.amir@gmail.com</td>

                  <td>2021-01-05</td>
                  <td>2022-01-05</td>
                  <td>200 heures</td>
                  <td>1,400 DT</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="ms-3">
                        <p class="fw-bold mb-1">Salle 1</p>
                        <p class="text-muted mb-0">Departement : IT</p>
                      </div>
                    </div>
                  </td>

                  <td>Jlidi.amir@gmail.com</td>

                  <td>2021-01-05</td>
                  <td>2022-01-05</td>
                  <td>200 heures</td>
                  <td>1,400 DT</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="ms-3">
                        <p class="fw-bold mb-1">Salle 3</p>
                        <p class="text-muted mb-0">Departement : IT</p>
                      </div>
                    </div>
                  </td>

                  <td>Jlidi.amir@gmail.com</td>

                  <td>2021-01-05</td>
                  <td>2022-01-05</td>
                  <td>200 heures</td>
                  <td>1,400 DT</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
