<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img
        src="https://images.unsplash.com/photo-1623177623442-979c1e42c255?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGhvbWUlMjBvZmZpY2V8ZW58MHx8MHx8&w=1000&q=80"
        alt=""
        srcset=""
        width="750"
        height="1000"
      />
    </div>
    <div class="col">
      <div class="row g-0">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
      <div class="row"></div>
      <div class="">
        <div class="form-floating mb-4">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Nom d'utilisateur</label>
        </div>
      </div>
      <div class="">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Mot de passe</label>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button
            type="submit"
            style="color: white; background-color: black"
            class="btn btn-dark"
          >
            Se connecter
          </button>
        </div>
        <div class="col">
          <button
            type="submit"
            style="color: whitesmoke; background-color: black"
            class="btn btn-dark"
          >
            Réinstaller
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
