<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="index.html">Ijou Gdana</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"
      ><img src="assets/img/logo.png" alt="" class="img-fluid"
    /></a> -->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Acceuil</a></li>
        <li><a class="nav-link scrollto" href="#about">à propos </a></li>
        <li><a class="nav-link scrollto" href="#team">Equipe</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>Services</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li>
              <a routerLink="login-component" routerLinkActive="active"
                >Se connecter</a
              >
            </li>
            <li><a routerLink="sign-up-component">S'inscrire</a></li>
            <li *ngIf="showUserServices()">
              <a routerLink="" (click)="logout()">Se deconnecter</a>
            </li>

            <li *ngIf="showUserServices()">
              <a routerLink="enregistre-demande-reservation-component"
                >Enregistre demande reservation</a
              >
            </li>
            <li *ngIf="showUserServices()">
              <a routerLink="acceder-historique-component"
                >Acceder a l'historique
              </a>
            </li>
            <li *ngIf="showAdminServices()">
              <a
                routerLink="dashboard-component/traiter-demande-reservation-component"
                >Admin Dashboard</a
              >
            </li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
