<section class="gradient-custom">
  <div class="container py-8 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i
                      class="fas fa-cubes fa-2x me-3"
                      style="color: #ff6219"
                    ></i>
                    <span class="h1 fw-bold mb-0">
                      Modifer salle de réunion</span
                    >
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="form3Example1m"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="form3Example1m"
                          >Num de salle</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="form3Example1n"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="form3Example1n"
                          >Nom de salle</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="form-NU"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="form-NU">Surface</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="form-NT"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="form-NT">Capacité</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="form2Example17"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="form2Example17">Prix</label>
                  </div>

                  <input type="file" class="form-control" id="customFile" />
                  <div><br /></div>
                  <label class="form-label" for="customFile"
                    >Publier une photo</label
                  >
                  <div class="row justify-content-center align-items-center">
                    <div class="col-5"></div>

                    <div class="col">
                      <div class="pt-1 mb-4">
                        <button
                          class="btn btn-dark btn-lg btn-block"
                          type="button"
                        >
                          Modifier Salle
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
