<div class="card mx-8 my-5" style="background-color: aliceblue">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h4 class="card-title">
          <p class="fw-bold mb-1">{{ title }}</p>
        </h4>
      </div>
      <div class="col">
        <div class="input-group">
          <div class="form-outline">
            <input
              id="search-input"
              type="search"
              id="form1"
              class="form-control"
              placeholder="Rechercher"
            />
          </div>
          <button id="search-button" type="button" class="btn btn-danger">
            Rechercher
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
