<div [hidden]="false">
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div
      class="container position-relative"
      data-aos="fade-up"
      data-aos-delay="500"
    >
      <h1>BIENVENUE À IJOU GDANA</h1>
      <h2>nous soummes le numéro #1 de la location d'espace de coworking</h2>
      <a href="#about" class="btn-get-started scrollto">Commencer</a>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img
              src="assets/img/about.jpg"
              class="img-fluid"
              alt="image de a propos"
            />
          </div>
          <div
            class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
            data-aos="fade-right"
          >
            <h3>LE IJOUGDANA C'EST QUOI ?</h3>

            <p>
              Coworking + Salles de réunion + Événements Un café convivial
              ouvert au public, un espace de coworking, des salles de réunion et
              de conférence, des bureaux privés, et un lieu disponible pour des
              événements privés. Le tout dans un cadre architectural et
              historique à couper le souffle.
            </p>
            <h3>COWORKING</h3>

            <p>
              Redéfinir le monde du travail de demain Crew propose désormais une
              nouvelle façon de travailler en offrant des abonnements sans
              engagement sur une base mensuelle ou annuel. Que vous ayez besoin
              de bureaux virtuels, de bureaux désignés, de plans virtuels, de
              bureaux flottants, ou d'un espace fermé, nous avons ce qu'il
            </p>
            <h3>SALLES DE RÉUNION</h3>

            <p>
              Vos réunions clé-en-main Réunion d’équipe, atelier, formation,
              entrevue, vidéoconférence… Réservez en quelques clics, à l’heure
              ou à la journée un espace de travail collaboratif. Nos banquettes,
              nos salles de réunioin, et nos salles de conférence sont équipées
              de tous les services
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>ce sont nos services</p>
        </div>

        <div class="row">
          <div
            class="col-lg-4 col-md-6 d-flex align-items-stretch"
            data-aos="fade-up"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Accès 24h 7/7</a></h4>
              <p>
                Il n'y a pas de bouton off pour la créativité. Restez aussi tard
                que vous le souhaitez!
              </p>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
            data-aos="fade-up"
            data-aos-delay="150"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Imprimante</a></h4>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp; Impression, papier et encre sans
                fond.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Internet haute vitesse</a></h4>
              <p>
                1 Gbps pour être exact, on utilisant une ligne de fibre optique.
              </p>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
            data-aos="fade-up"
            data-aos-delay="450"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Salle de réunion exclusive</a></h4>
              <p>
                Accès à une salle de réunion privée pour 8 personnes avec
                tableau blanc et télévision.
              </p>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
            data-aos="fade-up"
            data-aos-delay="600"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Section Lounge</a></h4>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Balcons VIP qui donnent vue sur le.
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
            data-aos="fade-up"
            data-aos-delay="750"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Salle silencieuse</a></h4>
              <p>
                Chambre isolée et sereine, idéale pour les
                pauses.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <p>
            Les bureaux de l’aire ouverte ne correspondent pas parfaitement à
            vos besoins? Ijou Gdana offre également des options de bureaux
            fermés, des services de bureaux virtuels et bien plus! N’hésitez pas
            à contacter notre équipe pour tout renseignement supplémentaire ou
            pour organiser une visite des espaces.
          </p>
          <a class="cta-btn" href="#"
            >OFFREZ À VOTRE ENTREPRISE L'ENVIRONNEMENT QU'ELLE MÉRITE
          </a>
        </div>
      </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">
        <div class="section-title">
          <span>Equipe</span>
          <h2>Equipe</h2>
          <p>l'équipe qui a développé cette application</p>
        </div>

        <div class="row">
          <div class="col-2"></div>
          <div
            class="col-lg-4 col-md-6 d-flex align-items-stretch"
            data-aos="zoom-in"
          >
            <div class="member">
              <img src="assets/img/team/team-1.jpg" alt="limage de createur" />
              <h4>Mohamed Amir Jidi</h4>
              <span>Chief Executive Officer</span>
              <p>Etudient a l'istic</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 d-flex align-items-stretch"
            data-aos="zoom-in"
          >
            <div class="member">
              <img src="assets/img/team/team-1.jpg" alt="limage de createur" />
              <h4>Mohamed Iheb Ounalli</h4>
              <span>Chief Executive Officer</span>
              <p>Etudient a l'istic</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <span>Contactez</span>
          <h2>Contactez</h2>
          <p>contactez-nous sur ces plateformes</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Notre Address</h3>
              <p>Tunis,Tunis</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Envoyez-nous un email</h3>
              <p>ijou.gdana@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>appelez-nous</h3>
              <p>+216 894545421274</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
  </main>
</div>
